@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 1
   
   Star Dust Stories Design Styles
   Author: Ryan C Burkhart
    Date: 11-6-18     

   Filename: sd_effects.css

*/

/* HTML Styles */
html {
    background: url(sd_back1.png);
    background-size: 100%;
    background-position: fixed;
}


/* Body Styles */
body {
    background: url(sd_back2.png) radial-gradient(circle closest-corner at (40%, 70%), white 15% rgba(151 ,151, 151, 0.5) 50%);
    background: url(sd_back2.png) radial-gradient(circle closest-corner at (80%, 40%), white 15% rgba(0,0,0,0) 30%);
    background: url(sd_back2.png) radial-gradient(circle closest-side at (10%,20%), white 15% rgba(0,0,0,0) 40%);
    background-color:rgb(151, 151, 151);
    box-shadow: left;
    box-shadow: right;
}



/* Navigation List Styles */




/* Section Left Styles */




/* Footer Styles */


